@import "animation-backgrounds";
@import "header-menus";

@media screen and (min-width: 1200px) {

    /*liveetit css ( works only in live edit )*/

    .mw-header-sticky-nav {
        background-color: var(--headerBg) !important;

    }

    .mw-live-edit {

        .mw-header-sticky-nav {
            padding: 20px;
            top: 50px;
        }
        .mw-nav-menu-transparent-with-image {
            top: 55px;

            .header-background {
                transition: all 0.5s ease;
                background: transparent;

            }
        }
    }

    //END liveedit

    .navigation-holder.not-transparent {
        transition: all 0.5s ease;
    }

    .mw-nav-menu-not-transparent {
        opacity: 1;
        //background-color: #FFFFFF !important;
        background-color: var(--headerBg);
    }

    .mw-header-sticky-nav {
        transition: all 0.5s ease;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
        background: transparent;
        padding: 20px;
    }

    .mw-nav-menu-transparent-with-image {
        transition: all 0.5s ease;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 20;
        background: transparent;

        .header-background {
            transition: all 0.5s ease;
            background: transparent;

        }
    }

    .navigation-holder.not-transparent.scrolled {
        background-color: var(--headerBg);
        box-shadow: 0px 0px 4px -2px grey;
        border-bottom: none;
        transition: all 0.5s ease;


        .module-menu ul li a {
            color: var(--menuColor) !important;
        }

        .navbar .logo-text {
            color: var(--menuColor) !important;
        }

        .header-background {
            transition: all 0.5s ease;
            background-color: var(--headerBg);
        }
    }
}



.price-lists-7 {
    .card {
        border:none;
        padding: 10px;
    }

    .card::after {
        position: absolute;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card:hover {


        transform: scale(1.02, 1.02);
        -webkit-transform: scale(1.02, 1.02);
        backface-visibility: hidden;
        will-change: transform;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card:hover::after {
        opacity: 1;
    }

    .card-title{
        font-size: 36px;
    }

}

.discount-label {
    position: absolute;
    top: 0;
    border: 1px solid #ed1c24;
    display: inline-block;
    text-align: center;
    z-index: 1;
}


.discount-percentage {
    padding: 0.3rem 0.8rem;
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
    background: #fff;
    color: black;
}

.discount-label-text {
    padding: 0.3rem 0.8rem;
    background: #ed1c24;
    display: block;
    color: #fff;
    font-size: .7rem;
    font-weight: 500;
}



.guesthouse-header {
    .fx-deactivate, .fx-deactivate span {
        font-size: 48px;

        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem!important;
        }

        @media screen and (max-width: 400px) {
            font-size: 1rem!important;

        }
    }

    .fx-deactivate-p, .fx-deactivate-p span {
        font-size: 24px;

        @media screen and (max-width: 991px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.2rem!important;
        }

        @media screen and (max-width: 400px) {
            font-size: 1rem!important;

        }
    }


}


#to-top {
    @media screen and (max-width: 700px) {
        display: none!important;
    }
}


@media screen and (min-width: 1360px) {

    .shop-inner-gallery .shop-inner-gallery-thumbnails {
        position: sticky;
        top: 60px;
        align-self: flex-start;
    }
}


.video-background-skin {
    background-color: black!important;
}

.navbar-light .navbar-toggler {
    border-radius: 0!important;
    padding: 11px 15px;
}

.header-menu-toggle-button {
    font-size: 1.5rem!important;

}

.header-section-title, .header-section-title span {

    @media screen and (max-width: 991px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 600px) {
        font-size: 2.5rem!important;
    }

    @media screen and (max-width: 400px) {
        font-size: 2rem!important;

    }
}

.header-section-p, .header-section-p span {

    @media screen and (max-width: 991px) {
        font-size: 3rem !important;
        line-height: 5rem!important;
    }

    @media screen and (max-width: 600px) {
        font-size: 2rem !important;
        line-height: 3rem !important;
    }

    @media screen and (max-width: 400px) {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;

    }
}


[data-overlay] .background-image-holder:after {
    background-image: unset;
}

.mw-big-dropdown.dropdown-menu > li > a:hover {
    background-color: var(--primaryColor)!important;
}

.nav-link {
    color: var(--primaryColor);
}

.mw-big-dropdown.dropdown-menu > li > a:hover {
    color: var(--links)!important;
}

.new-skin-shop {
    .shop-inner-gallery .shop-inner-gallery-thumbnails a {
        padding: 70px;
        margin-right: 20px!important;

        @media screen and (min-width: 1001px) {
            height: 90px;
            padding: 45px;
        }

        @media screen and (max-width: 1000px) {
            height: 80px;
            padding: 40px;
        }

        //@media screen and (max-width: 768px) {
        //    height: 40px;
        //    padding: 20px;
        //}
        //
        @media screen and (max-width: 468px) {
            height: 60px;
            padding: 30px;
        }
    }

    .shop-inner-gallery .shop-inner-gallery-thumbnails {
        flex-direction: row;
    }
}

.section-content-73 {

    .box-into-image {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px 25px;
        top: 90px;
        right: -55px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }

    .box-into-image i {
        background-color: #F75C4E;
        padding: 10px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 30px;
    }

    .content-73-image {
        width: 100%;
        height: auto;
        border-radius: 40px;
    }

    .content-73-h1 {
        font-size: 55px;
        font-weight: bold;
    }

    .content-73-p {
        font-weight: 300;
        color: #575455;
        font-size: 16px;

    }

    .content-73-btn {
        background-color: #1F7CFF!important;
        color: #ffffff!important;
        border-color: #1f7cff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }
}

.footer-skin-29 {
    h1,h2,h3,h4,h5,h6, p, a {
        color:#ffffff;
    }

    .content-73-btn {
        background-color: #ffffff!important;
        color: #1F7CFF!important;
        border-color: #ffffff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }

    .content-73-btn-2 {
        background-color: #1F7CFF!important;
        color: #ffffff!important;
        border-color: #ffffff!important;
        border-radius: 10px!important;
        font-size: 18px!important;
        padding: 0.9em 2em!important;
    }

    .absolute-container {
        background-color: #1F7CFF!important;
        top: -35%;
        left: 25%;
        border-radius: 10px;
        h1 {
            color: #ffffff;
        }

    }

    .footer-gray-text {
        color: #C6C6C6;
    }

    .content-73-image {
        height: auto;
        width: auto;
    }
}

.container .container {
    width: auto;
}
