.edit[field="layout-content-skin-16-layouts-20211217102223"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 30px;
}
.edit[field="layout-feature-skin-30-layouts-20211214143716"][rel="module"] {
	padding-bottom: 0px;
}
.edit[field="layout-content-skin-75-layouts-20230627102328"][rel="module"] {
	padding-top: 30px;
}
.edit[field="layout-titles-skin-2-layouts-20230627102738"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-feature-skin-1-layouts-20211216111641"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 30px;
}
.edit[field="layout-footer-skin-12-footer-layout"][rel="module"] {
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
}
.edit[field="layout-misc-skin-11-layouts-20230627105836"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-feature-skin-11-layouts-20230627110422"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-feature-skin-11-layouts-20230627110427"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-feature-skin-11-layouts-20230627110413"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 0px;
}
.edit[field="layout-header-skin-26-module-layouts-9"][rel="module"] {
	padding-top: 20px;
}
.edit[field="layout-titles-skin-2-layouts-20230627112751"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 6px;
}
